<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <h1>Search clinical trials</h1>
  <p class="lead">Fill in any or all of the fields below</p>
  
  <div class="md-form  mb-3">
    <input class="form-control" type="text" formControlName="Condition" placeholder="Condition or disease" aria-label="Search">
  </div>
  
  <div class="md-form  mb-3">
      <input class="form-control" type="text" formControlName="Country" placeholder="Country" aria-label="Search">
  </div>
    
  <div class="md-form  mb-3">
      <input class="form-control" type="text" formControlName="Sponsor" placeholder="Organization/Collaborator" aria-label="Search">
  </div>

  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>


</form>
<br>

<ng-container  *ngIf="allItems.length > 0;" >
    <p  *ngIf="allItems.length >= 10; else elseP">Showing 10 out of {{allItems.length}} results</p>
    <ng-template #elseP>
      <p>Showing {{allItems.length}} out of {{allItems.length}} results</p>
    </ng-template>
</ng-container>

<div>
    <table class="table" *ngIf="allItems.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Study Title</th>
            <th scope="col">Condition</th>
            <th scope="col">Organization</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let study of pagedItems; index as i;">

            <tr data-toggle="collapse" attr.data-target="#collapseDiv{{i}}" aria-expanded="false" aria-controls="collapseExample">
                <th scope="row">{{i+1}}</th>
                <td>{{study.fullStudy.study.protocolSection.identificationModule.briefTitle}}</td>
                <td>{{study.fullStudy.study.protocolSection.conditionsModule.conditionList.condition}}</td>
                <td>{{study.fullStudy.study.protocolSection.identificationModule.organization.orgFullName}}</td>
                <td><button id="btn1" (click)="showStudy(study.id)" class="primary">Show more</button></td>
            </tr> 

            <tr class="collapse" attr.id="collapseDiv{{i}}">
                <td colspan="5">
                  <p>Brief description: </p>
                  {{study.fullStudy.study.protocolSection.descriptionModule.briefSummary}}
                </td>
            </tr>
            <tr class="collapse" attr.id="collapseDiv{{i}}">
              <td colspan="5">
                <p>Eligibility criteria: </p>{{study.fullStudy.study.protocolSection.eligibilityModule.eligibilityCriteria}}
              </td>
            </tr>
            <tr class="collapse" attr.id="collapseDiv{{i}}">
              <td colspan="5">
                <p>Status: </p>{{study.fullStudy.study.protocolSection.statusModule.overallStatus}} - last updated {{study.fullStudy.study.protocolSection.statusModule.lastUpdateSubmitDate}}
              </td>
            </tr>
           
          </ng-container>

        </tbody>
      </table> 
    
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li class="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
  </ul>
</div>
